{% extends "_base.html" %}

{% load django_bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {% if user.is_authenticated %}
        <p>Вы уже зарегистрированы.</p>
        <p><a href="{% url 'app_counter:index' %}">На главную</a></p>
        <p><a href="{% url 'app_counter:counter' %}">Крутить счётчик</a></p>
        <form action="{% url 'app_accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    {% else %}
        <form action="{% url 'app_accounts:register' %}" method="post">
            {% csrf_token %}

            {% bootstrap_form_errors form %}
            {% bootstrap_form form layout=layout size=size %}

            {% bootstrap_button button_type="submit" content="Зарегистрироваться" %}
            {% bootstrap_button button_type="reset" content="Очистить" %}
        </form>
    {% endif %}
{% endblock %}