{% extends "_base.html" %}

{% load static %}

{% block head %}
  <script src="{% static 'app_counter/js/counter.js' %}"></script>
{% endblock %}

{% block body %}
  {% if counter %}
    <p>Состояние счётчика: <b id="counter{{ counter.id }}">{{ counter.value }}</b></p>
    <p>
      {# <a href="{% url 'app_counter:decrease_counter' %}">Минус 1</a> #}
      {# <a href="{% url 'app_counter:increase_counter' %}">Плюс 1</a> #}

      <button onclick="updateCounterValue(`{% url 'api:counter_decrease' counter.id %}`, document.cookie['access_token'])">Минус 1</button>
      <button onclick="updateCounterValue(`{% url 'api:counter_increase' counter.id %}`, document.cookie['access_token'])">Плюс 1</button>
    </p>
    <p>
      <a href="{% url 'app_counter:index' %}">На главную</a>
    </p>
  {% else %}
    <p>Счётчика нет.</p>
    <p>
      <a href="{% url 'app_counter:create_counter' %}">Создать</a>
    </p>
  {% endif %}
{% endblock %}
